body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:20px;
  top:88px;
  width:360px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:20px;
  top:88px;
  width:360px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:20px;
  top:113px;
  width:360px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:20px;
  top:680px;
  width:360px;
  height:48px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u10 {
  position:absolute;
  left:138px;
  top:689px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u12 {
  position:absolute;
  left:43px;
  top:689px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u14 {
  position:absolute;
  left:233px;
  top:689px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u16 {
  position:absolute;
  left:328px;
  top:689px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18 {
  position:absolute;
  left:445px;
  top:113px;
  width:180px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20 {
  position:absolute;
  left:445px;
  top:160px;
  width:180px;
  height:28px;
  font-size:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22 {
  position:absolute;
  left:445px;
  top:198px;
  width:180px;
  height:33px;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24 {
  position:absolute;
  left:445px;
  top:240px;
  width:217px;
  height:28px;
  font-size:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26 {
  position:absolute;
  left:445px;
  top:278px;
  width:201px;
  height:26px;
  font-size:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:50px;
  width:1600px;
  height:30px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
  background-color:#CC0033;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u29 {
  position:absolute;
  left:0px;
  top:745px;
  width:1600px;
  height:30px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
  background-color:#CC0033;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u30 {
  position:absolute;
  left:20px;
  top:797px;
  width:988px;
  height:412px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u33 {
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u35 {
  position:absolute;
  left:250px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u37 {
  position:absolute;
  left:400px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:496px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:180px;
}
#u39 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:180px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:2px;
  top:80px;
  width:96px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:180px;
}
#u41 {
  position:absolute;
  left:100px;
  top:50px;
  width:150px;
  height:180px;
}
#u42 {
  position:absolute;
  left:2px;
  top:82px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:180px;
}
#u43 {
  position:absolute;
  left:250px;
  top:50px;
  width:150px;
  height:180px;
}
#u44 {
  position:absolute;
  left:2px;
  top:82px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:180px;
}
#u45 {
  position:absolute;
  left:400px;
  top:50px;
  width:500px;
  height:180px;
}
#u46 {
  position:absolute;
  left:2px;
  top:82px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:180px;
}
#u47 {
  position:absolute;
  left:0px;
  top:230px;
  width:100px;
  height:180px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u48 {
  position:absolute;
  left:2px;
  top:80px;
  width:96px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:180px;
}
#u49 {
  position:absolute;
  left:100px;
  top:230px;
  width:150px;
  height:180px;
}
#u50 {
  position:absolute;
  left:2px;
  top:82px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:180px;
}
#u51 {
  position:absolute;
  left:250px;
  top:230px;
  width:150px;
  height:180px;
}
#u52 {
  position:absolute;
  left:2px;
  top:82px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:180px;
}
#u53 {
  position:absolute;
  left:400px;
  top:230px;
  width:500px;
  height:180px;
}
#u54 {
  position:absolute;
  left:2px;
  top:82px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:315px;
  top:867px;
  width:43px;
  height:42px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u56 {
  position:absolute;
  left:320px;
  top:970px;
  width:43px;
  height:42px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57 {
  position:absolute;
  left:320px;
  top:1048px;
  width:55px;
  height:42px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58 {
  position:absolute;
  left:320px;
  top:1142px;
  width:55px;
  height:42px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u59 {
  position:absolute;
  left:166px;
  top:867px;
  width:68px;
  height:42px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u60 {
  position:absolute;
  left:166px;
  top:970px;
  width:85px;
  height:42px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u61 {
  position:absolute;
  left:166px;
  top:1048px;
  width:68px;
  height:42px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u62 {
  position:absolute;
  left:166px;
  top:1142px;
  width:51px;
  height:42px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u63 {
  position:absolute;
  left:511px;
  top:853px;
  width:168px;
  height:42px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u64 {
  position:absolute;
  left:511px;
  top:889px;
  width:168px;
  height:42px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u65 {
  position:absolute;
  left:511px;
  top:948px;
  width:348px;
  height:42px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66 {
  position:absolute;
  left:511px;
  top:984px;
  width:378px;
  height:42px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u67 {
  position:absolute;
  left:511px;
  top:1036px;
  width:168px;
  height:42px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u68 {
  position:absolute;
  left:511px;
  top:1066px;
  width:117px;
  height:42px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u69 {
  position:absolute;
  left:511px;
  top:1127px;
  width:134px;
  height:42px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u70 {
  position:absolute;
  left:511px;
  top:1170px;
  width:84px;
  height:34px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
